.person {
  margin: 25px;
  padding: 25px;
  border-bottom: 2px solid #999;
}
.searchingBlock input {
  width: 300px;
  padding: 5px 10px;
  font-size: 20px;
  background-color: #333;
  color: #fff;
}
